<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/custom.css" type="text/css"/>
<script type="text/javascript" src="js/jquery1.9.min.js"></script>
<script type="text/javascript" src="js/jquery.featureCarousel.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="js/jquery.liquidcarousel.js"></script>
<title>title</title>

</head>
<body>
<div class="container">
	<div class="sub_container">
	<div class="page_banner">
        <header class="main_header">
                <a href="index.html"> <aside  class="logo"></aside></a>
                
                <aside class="search_area">
                	
                	<input type="search" placeholder="Search"/>
                    <input type="button" class="search_button" />
					<div class="search_fields">
						<div class="fields">Title <input type='textbox'/></div>
						<div class="fields">language <select><option>Telugu</option><option>English</option></select></div>
						<div class="fields"><input type="checkbox" checked='checked'/> Genre</div>
						<div class="fields">Release Year <input type='textbox'/></div>
					</div>
                </aside>
                <div class="login_links">
                    	<a id="login_trigger" href="#modal">Sign in</a>
                    </div>
        </header>
        <section class="banner_section">
        	<div>
            	<div id="banner-slide">

                    <div class="carousel-container">
    
                          <div id="carousel">
                            <div class="carousel-feature">
                              <a href="#"><img class="carousel-image" src="images/banner1.jpg"/></a>
                      		</div>
                            <div class="carousel-feature">
                              <a href="#"><img class="carousel-image" src="images/banner2.jpg"/></a>
                      		</div>
                            <div class="carousel-feature">
                              <a href="#"><img class="carousel-image" src="images/banner3.jpg"/></a>
                      		</div>
                            <div class="carousel-feature">
                              <a href="#"><img class="carousel-image" src="images/banner4.jpg"/></a>
                      		</div>
                            <div class="carousel-feature">
                              <a href="#"><img class="carousel-image" src="images/banner5.jpg"/></a>
                      		</div>
                          </div>
                        
                          <div id="carousel-left"></div>
                          <div id="carousel-right"></div>
                        </div>
                  </div>
            	<!-- <img src="images/banner1.png" width="1400" height="300"> -->
                <div class="bottom_shade"></div>
            </div>
        </section>
    </div>
			<section class='sort_container'>
				<div class="list_title">Sort by: <span class="sort_by active">Featured</span> 
								<span class="sort_by">Popularity</span> 
								<span class="sort_by">Recent</span> 
								<span class="sort_by">A to Z</span></div>
								<div class="mode_details">
								clip type <select><option>Movies</option></select>
								</div>
			</section>
								
    <section class="movie_list_section">
    	<header><span class="list_title">Free Movies</span></header>
			<div id="liquid1" class="liquid movies_list">
                <span class="previous"></span>
                <div class="wrapper">
                    <ul>
                        <li><a href="movie_detail_view.html" title="image 01"><img src="images/movie_clip1.jpg"  /></a>
                        	<div class="description">
                                <div class="title1">Movie Name</div>
                                <div class="title2">Telugu</div>
                                <div class="VideoTime">1.12.23</div>
                            </div>
                        </li>
                        <li><a href="movie_detail_view.html" title="image 02"><img src="images/movie_clip2.jpg"/></a></li>
                        <li><a href="movie_detail_view.html" title="image 03"><img src="images/movie_clip3.jpg" /></a></li>
                        <li><a href="movie_detail_view.html" title="image 04"><img src="images/movie_clip4.jpg" /></a></li>
                         <li><a href="movie_detail_view.html" title="image 01"><img src="images/movie_clip1.jpg"  /></a></li>
                        <li><a href="#" title="image 02"><img src="images/movie_clip2.jpg"/></a></li>
                        <li><a href="#" title="image 03"><img src="images/movie_clip3.jpg" /></a></li>
                        <li><a href="#" title="image 04"><img src="images/movie_clip4.jpg" /></a></li>
                         <li><a href="#" title="image 01"><img src="images/movie_clip1.jpg"  /></a></li>
                        <li><a href="#" title="image 02"><img src="images/movie_clip2.jpg"/></a></li>
                        <li><a href="#" title="image 03"><img src="images/movie_clip3.jpg" /></a></li>
                        <li><a href="#" title="image 04"><img src="images/movie_clip4.jpg" /></a></li>
                         <li><a href="#" title="image 01"><img src="images/movie_clip1.jpg"  /></a></li>
                        <li><a href="#" title="image 02"><img src="images/movie_clip2.jpg"/></a></li>
                        <li><a href="#" title="image 03"><img src="images/movie_clip3.jpg" /></a></li>
                        <li><a href="#" title="image 04"><img src="images/movie_clip4.jpg" /></a></li>
                       
                        
                        
                    </ul>
                </div>
                <span class="next"></span>
            </div>						
       
    </section>
	<section class="movie_list_section">
    	<header><span class="list_title">Paid Movies</span></header>
									
        <div id="liquid2" class="liquid movies_list">
                <span class="previous"></span>
                <div class="wrapper">
                    <ul>
                        <li><a href="movie_detail_view.html" title="image 01"><img src="images/movie_clip1.jpg"  /></a></li>
                        <li><a href="movie_detail_view.html" title="image 02"><img src="images/movie_clip2.jpg"/></a></li>
                        <li><a href="movie_detail_view.html" title="image 03"><img src="images/movie_clip3.jpg" /></a></li>
                        <li><a href="movie_detail_view.html" title="image 04"><img src="images/movie_clip4.jpg" /></a></li>
                         <li><a href="movie_detail_view.html" title="image 01"><img src="images/movie_clip1.jpg"  /></a></li>
                        <li><a href="#" title="image 02"><img src="images/movie_clip2.jpg"/></a></li>
                        <li><a href="#" title="image 03"><img src="images/movie_clip3.jpg" /></a></li>
                        <li><a href="#" title="image 04"><img src="images/movie_clip4.jpg" /></a></li>
                         <li><a href="#" title="image 01"><img src="images/movie_clip1.jpg"  /></a></li>
                        <li><a href="#" title="image 02"><img src="images/movie_clip2.jpg"/></a></li>
                        <li><a href="#" title="image 03"><img src="images/movie_clip3.jpg" /></a></li>
                        <li><a href="#" title="image 04"><img src="images/movie_clip4.jpg" /></a></li>
                         <li><a href="#" title="image 01"><img src="images/movie_clip1.jpg"  /></a></li>
                        <li><a href="#" title="image 02"><img src="images/movie_clip2.jpg"/></a></li>
                        <li><a href="#" title="image 03"><img src="images/movie_clip3.jpg" /></a></li>
                        <li><a href="#" title="image 04"><img src="images/movie_clip4.jpg" /></a></li>
                       
                        
                        
                    </ul>
                </div>
                <span class="next"></span>
            </div>
    </section>
    </div>
  </div>
 <footer>
 	<div class="footer_top_menu">
 	<div class="tab_section">
    	<ul>
        	<li class="heading"><a href="#">Watch Movies</a></li>
            <li><a href="#">Top Picks</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">TV</a></li>
            <li><a href="#">Collections</a></li>
            <li><a href="#">99 Movie of the Day</a></li>
            <li><a href="#">2 for 2 Nights</a></li>

        </ul>
    </div>
    <div class="tab_section">
    	<ul>
        	<li class="heading"><a href="#">Support</a></li>
            <li><a href="#">Need Help?</a></li>
            <li><a href="#">Your Cases</a></li>
            <li><a href="#">Forums</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Redeem Movie Credits</a></li>
          </ul>
    </div>
    <div class="tab_section">
    	<ul>
        	<li class="heading"><a href="#">My Account</a></li>
            <li><a href="#">Account Information</a></li>
            <li><a href="#">Payment Information</a></li>
            <li><a href="#">Balance & History</a></li>
            <li><a href="#">Manage Devices</a></li>
            
        </ul>
    </div>
 </div>
	<ul class="footer_menu">
                                        <li><a class="active" href="#">Home</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">channels</a></li>
                                        <li><a href="#">tv archive</a></li>
                                        <li><a href="#">Contacts</a></li>
                                    </ul>
            	<div class="copyright">Multiplex Online © 2012 Privacy Policy</div>
            </footer>
            
            <div id="modal" class="popupContainer" style="display:none;">
                                            <header class="popupHeader">
                                                <span class="header_title">Login</span>
                                                <span class="modal_close">x</span>
                                            </header>
                                            
                                            <section class="popupBody">
                                                <!-- Social Login -->
                                                                                    
                                                <!-- Username & Password Login form -->
                                                <div class="user_login">
                                                    <form>
                                                        <label>Email / Username</label>
                                                        <input type="text" />
                                                        <br />
                                    
                                                        <label>Password</label>
                                                        <input type="password" />
                                                        <br />
                                    
                                                        <div class="checkbox">
                                                            <input id="remember" type="checkbox" />
                                                            <label for="remember">Remember me on this computer</label>
                                                        </div>
                                    
                                                        <div class="action_btns">
                                                            <div class="one_half"><a  href="register_user.html" class="btn"><i class="fa fa-angle-double-left"></i> Register </a></div>
                                                            <div class="one_half last"><a href="#" class="btn btn_blue">Login</a></div>
                                                        </div>
                                                      <div class="Share_social_network">
                                                        	<div class="title">Or login with</div>
                                                            <div class="fb_icon"></div>
                                                            <div class="g_plus_icon"></div>
                                                      </div>
                                                    </form>
                                                    <a href="forgot_password.html" class="forgot_password">Forgot password?</a>
                                                </div>
                                      </section>
                                        </div>
                                        
                                        
  <script type="text/javascript">
$("#login_trigger").leanModal({top : 100, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_trigger").click(function(){
			$(".social_login").hide();
			$(".user_login").show();
			return false;
		});

		// Going back to Social Forms
		$(".modal_close").click(function(){
			$(".user_login").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	})
</script>
</body>
</html>
